<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/secured/home/">Harshi Technical Services</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/secured/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/attendance/">Attendance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/secured/works/">Works</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/secured/users/">Users</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <br><br>
        <a href="/secured/adduser/" class="float-right btn btn-primary">Add User</a>
        <% if(add) { %>
            <form method="post">
                <div class="form-group">
                    <label for="name"> Username: </label>
                    <input type="text" id="name" name="username" required/>
                </div>
                <div class="form-group">
                    <label for="pwd"> Password: </label><br>
                    <input type="text" id="pwd" name="pwd" required/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>
            </form>
            <% } %>
                <% if(empty){ %>
                    <h1> No users found. </h1>
                    <% } %>
                        <% if(show) { %>
                            <div class="card user">
                                <img class="card-img-top" src="/images/user.png" alt="">
                                <div class="card-body">
                                    <h3 class="card-title">Users</h3><br>
                                    <% for(var key in info){ %>
                                        <a href="/secured/delete/<%= key %>" class="float-right btn btn-danger">Delete</a>
                                        <strong><p>
                                            Name:
                                            <%= info[key].Username %>
                                        </p></strong>
                                        <p>
                                            Password:
                                            <%= info[key].Password %>
                                        </p>
                                        <br>
                                        <% } %>
                                </div>
                            </div><br>
                            <% } %>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>